@charset "ISO-8859-1";

input {
	color: gray;
	margin-left: 1%;
	background-color: transparent;
	height: 50px;
	width: 280px;
	font-size: 18px;
	border-radius: 30px;
	box-shadow: 0 0 4px #fff;
}

input:hover {
	background-color: rgb(0, 0, 0, 0.5);;
}

label {
	color: white;
	font-size: 20px;
	margin-left: 28%;
}

body {
	width: 30%;
	margin-left: 55%;
	padding: 10px;
	margine: 10px;
}

.img {
	width: 30%;
	hight: 25%;
	margin-left: 35%;
}

#btn {
	color:white;
	width: 20%;
	margin-left: 2%;
	background-color: #0277bd;
	height: 50px;
	width: 285px;
}

h1 {
	color: white;
	margin-left: 35%;
}

#btn:hover {
	background-color: #0943bb;
}

a {
	color: white;
	font-size: 16px;
	margin-left: 10%;
}

a:hover {
	color: #4577eb;
}

.main {
	background-image: url("IMG/Background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

fieldset {
	align-items: center;
	margin-top: 10%;
	width: 77%;
	padding: 10px 10px;
	background: rgb(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgb(0, 0, 0, 4);
	color: #fff;
	border-radius: 10px;
}
fieldset:before {
	-webkit-filter: blur(4px);
	-moz-filter: blur(2px);
}